<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.managappoint"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" /> 
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.managappoint.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.managappoint.CreateAppointmentActivity"
            android:label="@string/title_activity_create_appointment" 
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.managappoint.SelectAppointmentToDeleteActivity"
            android:label="@string/title_activity_select_appointment_to_delete"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.managappoint.EditAppointmentActivity"
            android:label="@string/title_activity_edit_appointment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.managappoint.ViewEditAppointmentActivity"
            android:label="@string/title_activity_view_edit_appointment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.managappoint.MoveAppointmentActivity"
            android:label="@string/title_activity_move_appointment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.managappoint.SelectDateToMoveAppointmentActivity"
            android:label="@string/title_activity_select_date_to_move_appointment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.managappoint.SelectAppointmentToTranslateActivity"
            android:label="@string/title_activity_select_appointment_to_translate"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.managappoint.TranslateAppointmentActivity"
            android:label="@string/title_activity_translate_appointment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.managappoint.SelectLanguagesActivity"
            android:label="@string/title_activity_select_languages"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.managappoint.SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
